.formm {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
}

.mm {
  margin-top: 20px;
}

.jj {
  border-radius: 10px;
  background: #fafafa;
  width: 120px;
  padding: 20px;
  margin-left: 44%;
}

.log {
  margin: 300px;
}